@import './variables';

html,
body,
body div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
label,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  /* vertical-align: baseline; */
  background: transparent;
}

header,
nav,
main,
article,
footer,
section {
  display: block;
}

html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
  vertical-align: top;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

strong {
  font-weight: bold;
}


